.About {
  max-height: 100vh;
  background-color: rgba(131, 221, 218, 0.1);
  overflow: hidden;
  position: relative;
  padding: 4em 0;
}

.text-controls {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  color: #ff2261;
  position: absolute;
  top: calc(50% - 0.5em);
  z-index: 1;
  width: 100%;
}

.text-controls div {
  margin: 0.5em;
}

.slide > img {
  width: 100%;
}

.slide {
  width: 100vw;
}

.slide h3 {
  font-size: 3em;
  margin: 0;
  color: #30758d;
  font-weight: 400;
}

.slide p {
  width: 70%;
  margin: 1em auto;
}

.text-slider {
  display: flex;
  width: 300vw;
  position: relative;
  top: 0;
  left: -00vw;
  transition: left 1.5s ease;
}

.frame {
  width: 100%;
  overflow: hidden;
  position: relative;
}
